@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");
* {
    user-select: none !important;
}
.logo {
    font-size: 30px !important;
    font-family: "Krona One", sans-serif;
    font-weight: bold;
    color: #6c63ff;
}
.logo i {
    font-size: 40px !important;
}
ul {
    list-style: none;
}

.button {
    font-weight: 700;
    font-size: 14px;
    font-family: inherit;
    padding: 10px 20px;
    border-radius: 3px;
    user-select: none;
}

.btn-success {
    background: #6C63FF !important;
    border: 1px solid #6C63FF !important;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-success:hover {
    background: #168d3f !important;
    border: 1px solid #168d3f !important;
}

.btn-dark {
    background: #39424e !important;
    border: 1px solid #39424e !important;
    border-radius: 3px !important;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-dark:hover {
    background: #293038 !important;
    border: 1px solid #293038 !important;
}

.bg-gray {
    background: #f3f7f7 !important;
}
.px-100 {
    padding: 0px 100px;
}
.mt-70 {
    margin-top: 70px !important;
}
.my-50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.py-50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.btn-outline-success {
    border: 1px solid #6C63FF !important;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-outline-success:hover {
    color: #ffffff !important;
    background: #6C63FF !important;
}

.shadow {
    -webkit-box-shadow: 0px 6px 16px 0 rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0px 6px 16px 0 rgba(0, 0, 0, 0.2) !important;
}

.bg-light {
    background-color: #f3f7f7 !important;
}

.badge-primary {
    background-color: var(--green);
    border-radius: 3px;
    font-weight: normal;
    font-size: 12px;
}

.border-top {
    border-top: 7px solid var(--green) !important;
}

.border-left {
    border-top: 7px solid var(--blue) !important;
}

.question-card {
    color: var(--dark) !important;
    border-radius: 7px !important;
    border-color: #cacaca;
}

.question-card .question-name {
    font-weight: normal;
    color: var(--dark) !important;
}
img {
    width: 100% !important;
}
.question-card .question {
    color: var(--dark);
    display: block;
}

.question-card .answers .form-check {
    border-radius: 3px;
    padding: 10px 40px !important;
    padding-right: 5px !important;
    display: flex !important;
    align-items: center !important;
}

.question-card .answers .form-check label {
    display: block;
    width: 100%;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.question-card .answers .form-check label .checkmark:after {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #5f6268;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.question-card .answers .form-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.question-card .answers .form-check input:checked ~ .checkmark:after {
    opacity: 1;
}

.question-card .answers .form-check .checkmark {
    left: -30px;
    top: 10px;
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #5f6268;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    margin-top: -2px !important;
}

.question-card .answers .form-check .checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
}

.question-card .answers .form-check:hover {
    background: rgba(27, 169, 76, 0.3);
}

.question-card .answers.read-only .form-check {
    background: transparent;
}

.question-card .answers .wrong-answer {
    background: #ffb7a4 !important;
    border: 1px solid #cacaca;
    font-weight: bold;
}

.question-card .answers .success-answer {
    background: #b9ffcc !important;
    border: 1px solid #cacaca;
}
.answer_explanation {
    background: #38bb66 !important;
    border-radius: 3px;
}
/*# sourceMappingURL=style.css.map */
/* register and login form */

/*==============================
=====Login=====================*/
.is-valid {
    border: 1px solid #6C63FF !important;
}
#form-layout {
    background-color: #fff;
    margin: 50px 15px !important;
    padding: 50px;
    width: 510px;
    -webkit-box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
    box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
}

#form-layout h2 {
    color: #39424e;
    letter-spacing: 5px;
}

#form-layout .email {
    width: 20px;
    color: #6c63ff;
    fill: #6c63ff;
}

#form-layout .form-row {
    margin: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#form-layout .form-row .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#form-layout .form-row .form-group .form-check-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

#form-layout .form-row .form-group .form-check-label {
    cursor: pointer;
    margin-left: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

#form-layout .form-row .form-group .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #ced4da;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#form-layout .form-row .form-group .checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

#form-layout .form-row .form-group .form-check-label:hover ~ .checkmark {
    border: 2px solid #6c63ff;
}

#form-layout .form-row .form-group .form-check-input:checked ~ .checkmark {
    background-color: #6c63ff;
    border: 2px solid #6c63ff;
}

#form-layout
    .form-row
    .form-group
    .form-check-input:checked
    ~ .checkmark:after {
    display: block;
}

#form-layout .form-row .form-group .form-check-label ~ .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#form-layout .form-row .forgot {
    color: #6C63FF;
    font-size: 13px;
    font-weight: bold;
}

#form-layout .divider {
    border-top: 1px solid #ced4da !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    position: relative;
}
.form-check .text h1 {
    font-size: 1px !important;
}
.form-check .text img {
    width: 200px !important;
}
#form-layout .divider span {
    color: #606060 !important;
    position: absolute;
    top: -14px;
    background: #ffffff;
    padding: 0px 10px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

#form-layout .google {
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

#form-layout .google .input-group-text {
    color: #39424e;
    border: 1px solid #4285f4 !important;
}

#form-layout .google .input-group-text img {
    width: 20px !important;
}

#form-layout .google .google-btn {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    background-color: #4285f4;
    background-clip: padding-box;
    border: 1px solid #4285f4;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
}

#form-layout .google:hover {
    -webkit-box-shadow: 0 3px 10px rgba(57, 73, 76, 0.4);
    box-shadow: 0 3px 10px rgba(57, 73, 76, 0.4);
}

.input-focus {
    border: 1px solid #6C63FF !important;
}
/* end */

#password-strength-status {
    padding: 5px 10px;
    color: #ffffff;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px !important;
}

.medium-password {
    background-color: #e6a01e;
    border: #e6a01e 1px solid;
    border-radius: 0px !important;
}

.weak-password {
    background-color: #dc3545;
    border: #dc3545 1px solid;
    border-radius: 0px !important;
}

.strong-password {
    background-color: #6C63FF;
    border: #6C63FF 1px solid;
    border-radius: 0px !important;
}

.input-group {
    border: 1px solid #ced4da;
}

.input-group .input-group-prepend .input-group-text {
    border: 1px solid transparent;
    border-radius: 0px !important;
    background: #ffffff !important;
    padding: 0px 10px;
}

.input-group .input-group-prepend .input-group-text svg {
    fill: #6c63ff;
    -o-object-fit: contain;
    object-fit: contain;
    width: 20px !important;
    display: block;
}

.input-group .input-group-append .input-group-text {
    border: 1px solid transparent !important;
    border-radius: 0px !important;
    background: #ffffff !important;
    padding: 0px 10px;
}

.input-group .form-control {
    border-radius: 0px !important;
    border: 1px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.input-group:focus {
    border: 1px solid #6C63FF;
}

.input-group.is-invalid {
    border: 1px solid #dc3545;
}
.setting {
    margin-top: 100px !important;
    padding: 30px 20px !important;
}
.setting .list {
    background: #fff !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5) !important;
    padding: 0.375rem 0 !important;
    width: 100% !important;
}

.setting .list .list-item {
    padding-left: 30px;
    font-size: 18px;
    margin: 20px 0;
    color: #39424e;
    border-left: 5px solid transparent;
    cursor: pointer;
}

.setting .list .list-item a {
    color: #39424e;
}

.setting .list .list-item a:hover {
    color: #6C63FF;
}

.setting .list .list-item.active {
    border-left: 5px solid #6C63FF;
}

.setting .setting-section {
    background: #fff !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5) !important;
    padding: 30px;
    width: 100% !important;
}

.setting .setting-section .form-group {
    color: #39424e;
}

.setting .setting-section .form-group .form-control {
    border-radius: 0px !important;
    -webkit-box-shadow: 0px !important;
    box-shadow: 0px !important;
    outline: none !important;
    border: 1px solid #ced4da;
}
